// Color variables
$color-primary: #007bff;
$color-primary-hover: #0056b3;
$color-text-dark: #333;
//$color-text-light: #555;
$color-disabled: #ccc;
$color-background-light: #f2f4f8;

.container {
    font-family: Arial, sans-serif;
    margin-top: 50px;

    .header {
        text-align: center;
        color: $color-text-dark;
        font: {
            size: 36px;
            weight: 600;
        }
        margin-bottom: 20px;
    }

    .form {
        max-width: 300px;
        margin: 0 auto;
    }

    .checkboxContainer {
        display: flex;
        align-items: center;
        margin: 15px 0;

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        label {
            font: {
                weight: bold;
                size: 16px;
            }
            color: $color-text-dark;
            margin-left: 10px;
        }
    }

    .submitButton {
        font: {
            size: 18px;
            weight: bold;
        }
        padding: 10px 20px;
        background-color: $color-primary;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        display: block;
        width: 100%;
        box-sizing: border-box;

        &:disabled {
            background-color: $color-disabled;
            cursor: not-allowed;
        }

        &:not(:disabled):hover {
            background-color: $color-primary-hover;
            transform: scale(1.02);
        }
    }
}

@keyframes shake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }

    25%, 75% {
        transform: translate3d(-10px, 0, 0);
    }

    50% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation: shake 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}
