body, html {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    object-fit: cover;
    z-index: -2;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.black-bar {
    position: absolute;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, 
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,1) 20%,
        rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.black-bar::after {
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%;
    background: url('/noise.svg');
    filter: contrast(200%) brightness(100%) invert(100%) saturate(0%);
    mask-image: linear-gradient(180deg, 
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,.3) 40%,
        rgba(0,0,0,0) 100%);
    z-index: -1;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 250px;
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    /* Typography */
    font-family: 'Caveat', cursive;
    color: #103A6E;
    font-size: 45px; /* Adjusted font size */
    text-overflow: ellipsis; /* Hide truncated text */
    white-space: nowrap; /* Prevent natural word wrapping */

    /* Box-model */
    margin-bottom: 20px;
    max-width: 100%;

    /* Flexbox for centering */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Positioning */
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Media query for larger screens */
@media (min-width: 500px) {
    h1 br {
        display: none; /* Hide the `br` on large screens */
    }
}

.buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 100%;

    button {
        font-size: 15px;
        font-family: 'Fredoka One', cursive;
        padding: 10px 50px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &#signup {
            background-color: #0F3B6E; // Replace with actual color code
            color: #fff;
        }

        &#login {
            background-color: #0F3B6E; // Replace with actual color code
            color: #fff;
        }
    }
}
