@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.labelContainer {
    @include flex-column-start;
    margin: {
        top: 10px;
        bottom: 20px;
    }
}

.inputContainer {
    @include flex-column-start;
    width: 100%;
}

.label {
    font: {
        weight: bold;
        size: 18px;
    }
    color: #555;
    margin: {
        right: 10px;
        bottom: 5px;
    }
}

.input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: {
        width: 1px;
        style: solid;
        color: #ccc;
        radius: 10px;
    }
    box-sizing: border-box;
    transition: border-color 0.3s;

    &:focus {
        border-color: #007BFF;
    }
}

.errorContainer {
    height: 18px;
    width: 100%;
}

.error {
    color: red;
    font: {
        size: 14px;
        style: italic;
    }
    line-height: 18px;
}