@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.labelContainer {
    @include flex-column-start;
    margin: {
        top: 10px;
        bottom: 20px;
    }
}

.inputContainer {
    @include flex-column-start;
    width: 100%;
    position: relative;  // Make sure this is set
}

.label {
    font: {
        weight: bold;
        size: 18px;
    }
    color: #555;
    margin: {
        right: 10px;
        bottom: 5px;
    }
}

.input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: {
        width: 1px;
        style: solid;
        color: var(--input-border-color, #ccc);  // default to #ccc
        radius: 10px;
    }
    box-sizing: border-box;
    transition: border-color 0.3s;

    &:focus {
        border-color: var(--input-focus-border-color, #007BFF); // default to #007BFF
        outline: none;
    }
}

.error {
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: #333333;
    font: {
        size: 14px;
        style: italic;
    }
    line-height: 18px;
    position: absolute; // Important for floating effect
    top: 50%;  
    left: 100%;  // Position to the right of the input
    z-index: 1;  
    transform: translateY(-50%);  // Center vertically
    margin-left: 10px;  // Some space between the error and the input field
    
    @media (max-width: 900px) {
        width: 95%;
        position: static;  // Resets to normal flow
        transform: none;  // Removes previous transform
        margin-left: 0;  // Resets margin
        margin-top: 5px;  // Adds a bit of margin above
    }

}